########################
# Example config file
# Comments start with #
# There are restrictions for valid channel/rank numbers
 standard = DDR3
 channels = 1
 ranks = 1
 speed = DDR3_1333H
 org = DDR3_8Gb_x16
 cpu_tick = 3
 mem_tick = 1
 cache = no
# cache = L3, cache = all, cache = L1L2
 trace_type = CPU
 translation = Random
 print_cmd_trace = off
 record_cmd_trace = on
 cmd_trace_prefix = smoketest-DDR3-
# trace_type = DRAM
#
########################

